body{
    font-family: 'Poppins', sans-serif; 
    margin:0; 
}
h1{
    font-size: 50px;
    
}
.orange-color{
    color:#ff4c93;

}
.flexible-container{
    display:flex;
    margin-bottom: 150px;;
}
.half-width{
    width:50%;
    padding-left:5%;
   

}
.half-width img{
    width:80%;
}
.link-button{
    color:azure;
    text-decoration:none;
    background-color:#ff4c93 ;
    padding:7px 40px;
    font-weight: 500;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat ;
    
}
.big-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area h3{
    color:#6f43da;
    font-size:25px ;
}
.experience-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 10px 10px 30px plum; 
}
#full-stack-devoloper{
    border-right: 8px solid purple;
}
#mern-stack-devoloper{
    border-left: 8px solid #ff4c93;
}
footer p{
    text-align: center;
}